/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* PAGE STYLE */
*,
*::before,
*::after {
    box-sizing:border-box;
}
body {
	font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-start {
    justify-content: flex-start;
}
  .header {
      width: 100%;
      height: 32px;
      padding: 32px 0;
      position: absolute;
      top: 0px;
      color: #fff;
  }
  h1 {
      font-size: 24px;
      font-weight: 900;
  }
  .header a {
      color: #fff;
      margin-left: 16px;
      text-decoration:none ;
  }
.hero {
    width:100%;
    height:100vh;
    background:linear-gradient(to right,rgba(33, 126, 231, 0.8),rgba(80, 238, 101, 0.8)),
    url(../media/home-bg.jpg)50% 50% no-repeat;
}
.hero-div {
    height: 100%;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 auto;
    color: #fff;
}
.call {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.hero-anchor {
    margin-left: 64px;
}
.btn {
    width: 110px;
    height: 30px;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
}
.btn-color {
    background-color: #CF3732;
    border: 1px solid #CF3732;
}
h3 {
    font-size: 32px;
    font-weight: 600;
}
.box { 
    background-color: rgb(209, 203, 203);
    margin-left: 4px;
}
.box-one {
    width: 8px;
    height: 8px;
}
.box-two {
    width: 8px;
    height: 8px;
}
.box-three {
    width: 8px;
    height: 8px;
}
.intro-article {
    width: 30%;
}
.intro-menu {
    width: 30%;
    line-height: 2;
}
 .intro-img {
   width: 100%;
}
.line-one {
    width: 50%;
    height: 2px;
    background-color: #1E1E1E;
}
.space-one {
    margin-left: 84px;
}
.line-two {
    width: 60%;
    height: 2px;
    background-color: #1E1E1E;
}
.space-two {
    margin-left: 116px;
}
.line-three {
    width: 45%;
    height: 2px;
    background-color: #1E1E1E;
}
.space-three {
    margin-left: 30px;
}
.line-four {
    width: 36%;
    height: 2px;
    background-color: #1E1E1E;
}
.space-four {
    margin-left: 44px;
}
.blog-head {
    text-align: center;
    margin-bottom: 24px;
}
.blog-img-container {
    width: 100%;
    background-color: #EFEFEF;
}
.blog-img {
    width: 48%;
    margin-bottom: 24px;
}
.work-image-container {
    width: 100%;
    margin-bottom: 24px;
}
.work-img {
    width: 24%;
    margin-left: 8px;
}